<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Define a File Appender -->
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-5level %logger{40} - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- Define a Rolling File Appender -->
	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file> MyApp.log </file>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{40} - %msg%n</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<FileNamePattern> MyApp-%d {yyyy-MM-dd}.%i.log</FileNamePattern>
			<maxFileSize>1MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>10MB</totalSizeCap>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
	</appender>
	<root>
		<appender-ref ref="Console" />
		<appender-ref ref="RollingFile" />
	</root>
</configuration>